<a href="https://colab.research.google.com/github/piocode0110/GoogleColab-Scripts/blob/master/2_LECTURA_HTML%2C_EXPORTAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
import os
#VAMOS A EXTRAER DATOS DE UNA PAGINA WEB https://pokemondb.net/pokedex/all  UTILIZANDO  import requests
import requests

In [ ]:
#EXTRAEMOS EL CODIGO
url = "https://pokemondb.net/pokedex/all"
html_text = requests.get(url).content

In [ ]:
 #CREAMOS UN DATAFREAM
contenido = pandas.read_html(html_text)

In [ ]:
type(contenido)

list

In [ ]:
#LEN SIGNIFICA LONGITUD DE LA LISTA
len(contenido)

1

In [ ]:
# extraemos los datos
df_pokedex = contenido[0]

In [ ]:
df_pokedex

        #                    Name           Type  ...  Sp. Atk  Sp. Def  Speed
0       1               Bulbasaur   Grass Poison  ...       65       65     45
1       2                 Ivysaur   Grass Poison  ...       80       80     60
2       3                Venusaur   Grass Poison  ...      100      100     80
3       3  Venusaur Mega Venusaur   Grass Poison  ...      122      120     80
4       4              Charmander           Fire  ...       60       50     65
...   ...                     ...            ...  ...      ...      ...    ...
1040  896               Glastrier            Ice  ...       65      110     30
1041  897               Spectrier          Ghost  ...      145       80    130
1042  898                 Calyrex  Psychic Grass  ...       80       80     80
1043  898       Calyrex Ice Rider    Psychic Ice  ...       85      130     50
1044  898    Calyrex Shadow Rider  Psychic Ghost  ...      165      100    150

[1045 rows x 10 columns]

In [ ]:
#EXPORTAR RESULTADOS

In [ ]:
df_pokedex.head()

   #                    Name          Type  ...  Sp. Atk  Sp. Def  Speed
0  1               Bulbasaur  Grass Poison  ...       65       65     45
1  2                 Ivysaur  Grass Poison  ...       80       80     60
2  3                Venusaur  Grass Poison  ...      100      100     80
3  3  Venusaur Mega Venusaur  Grass Poison  ...      122      120     80
4  4              Charmander          Fire  ...       60       50     65

[5 rows x 10 columns]

In [ ]:
#UTILIZANDO EL COMANDO to_csv guardamos nuestro archivo
df_pokedex.to_csv("/content/drive/MyDrive/Datahack/drive/Data/pokedexx_web.csv")

FileNotFoundError: ignored